@import "./scss/navbar.scss";
@import "./scss/layout.scss";
@import "./scss/info.scss";
@import "./scss//user.scss";
@import "./scss/ui.scss";
@import "./scss/custom.scss";
@import "./scss/chat.scss";

* {
  padding: 0;
  margin: 0;
}

.refer-links {
  margin: 10% 0;
  display: flex;
  justify-content: space-around;
}
