.home-info {
  background-color: $color7;
  border-radius: 70px;
  height: 300px;
}

.home-header {
  color: $color4;
  padding-top: 10px;
  font-size: 26px;
  text-transform: initial;
}

.home-subheader {
  color: $color4;
  font-size: 20px;
  text-transform: initial;
}
