.hero {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
}

.layout-h {
  font-size: 22px;
  color: black;
  position: relative;
  top: 70%;
  text-align: center;
}

.layout-btn {
  margin: auto;
  display: block;
  position: relative;
  top: 70%;
}
