.hero {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
  border-radius: 70px;
}

.hero-textbox {
  margin: -5px 0 70px;
}

.hero-text > a {
  color: $color4;
  letter-spacing: 0.8px;
  font-weight: 700;
}
