.user-btn-register {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  text-transform: initial !important;
}

// book ride css
.singleRide-top {
  text-align: center;
  background-color: $color8;
}

.singleRide-date {
  padding: 10px 0;
}

.singleRide-fromto {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.singleRide-fromto-div {
  text-transform: capitalize;
  text-align: center;
}
.singleRide-disc-wrapper {
  padding-bottom: 10px;
}
.singleRide-disc {
  text-align: left;
  margin: 10px 20px;
  padding-left: 10px;
  background-color: $color6;
  font-size: 16px;
}

.singleRide-disc-span {
  text-transform: capitalize;
  color: $color2;
}

.singleRide-driverinfo {
  display: flex;
  background-color: $color2;
  color: $color4;
  margin: 15px 10px;
  padding: 5px;
}

.singlRide-driverinfo-icons {
  text-align: center;
}
.singleRide-icon-div {
  display: flex;
  margin: 5px 0;
}
.singleRide-comment {
  text-align: center;
  margin: 0 auto;
}
.singleRide-name {
  font-size: 16px;
  font-weight: 700;
}
.user-btn-wrapper {
  margin: 30px 0;
}

.btn-success {
  background-color: #4caf50;
  &:hover {
    background-color: darken(#4caf50, 10%);
  }
  &:focus {
    background-color: darken(#4caf50, 10%);
  }
}

.user-btn-sign {
  margin: 40px 0 !important;
  margin-bottom: 20px !important;
  width: 100%;
  text-transform: initial !important;
}

.my-facebook-button {
  width: 100%;
  border-radius: 4px;
  background-color: #3b5998;
  border: none;
  color: #ffffff;
  padding: 5px;
  &:focus {
    background-color: lighten(#3b5998, 20%);
  }
  @media only screen and (max-width: 990px) {
    width: 100%;
  }
}

// form style
.form-input-custom {
  width: 100%;
}
.MuiInput-underline:before {
  display: none;
}
.MuiInput-underline:after {
  display: none;
}

.MuiFormLabel-root.Mui-focused {
  color: red !important;
}

.MuiSnackbarContent-message::first-letter {
  text-transform: uppercase;
}
// licencse form

.driver-checkbox {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.driver-checkbox-icon {
  color: $color8;
  padding-top: 7px;
}

.drivers-form {
  text-align: center;
  margin: 80% 0;
}
// search
.search-formcontrol {
  width: 100%;
}
// google maps
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 transparent;
  box-shadow: 0 1px 0 0 transparent;
}
