.user-register-wrapper {
  height: 100vh;
}
.user-btn-register {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  text-transform: initial !important;
}

.user-btn-wrapper {
  margin: 30px 0;
}

.user-btn-sign {
  margin: 40px 0 !important;
  margin-bottom: 20px !important;
  width: 100%;
  text-transform: initial !important;
}

.my-facebook-button {
  width: 100%;
  border-radius: 4px;
  background-color: #3b5998;
  border: none;
  color: #ffffff;
  padding: 5px;
  &:focus {
    background-color: lighten(#3b5998, 20%);
  }
  @media only screen and (max-width: 990px) {
    width: 100%;
  }
}

// form style
.form-input-custom {
  width: 100%;
}
.MuiInput-underline:before {
  display: none;
}
.MuiInput-underline:after {
  display: none;
}

.MuiFormLabel-root.Mui-focused {
  color: red !important;
}

.MuiSnackbarContent-message::first-letter {
  text-transform: uppercase;
}
// licencse form

.drivers-form {
  text-align: center;
  margin: 80% 0;
}
